 @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Kanit:wght@300&family=Rubik:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;

  font-size: 100%;
}

:root {
  --my-color-1: #d3d3d3;
  --my-color-2: #445964;
  --my-color-3: rgb(255, 255, 255);
}
html,
body {
  background-color: var(--my-color-1);
  color: var(--my-color-2);

  font-family: "Rubik", Arial, Helvetica, sans-serif;

  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Cabeçalho */
header {
  background-color: var(--my-color-3);

  display: grid;
  text-align: center;

  border-radius: 60px;

  min-width: 100%;
  z-index: 1;
}

/* Cabeçalho Logo */
header h1 {
  text-transform: uppercase;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.4rem;
  margin-top: 4rem;

  gap: 0.4rem;
}

header img {
  width: 2.6rem;
}

.image-initial img {
  display: none;
}

/* Cabeçalho nav */
header nav ul,
nav li a {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
  text-decoration: none;

  color: var(--my-color-1);

  padding: 0.6rem;
  gap: 0.9rem;
}

header nav {
  background-color: #445964;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

header nav a:hover {
  color: #e4dfdfba;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}

/*Ínicio*/
.txt {
  padding: 5rem;
  text-align: center;
  
}
.txt h2 {
  font-weight: 900;
  font-size: 3.4rem;
}

.txt p {
  font-size: 25px;
  font-weight: 100;

  border-bottom: 1px solid var(--my-color-2);

  padding-bottom: 32px;
}

ul.icons {
  display: flex;
  justify-content: center;

  list-style: none;

  padding: 10px;
  gap: 0.8rem;
}

.icons li img {
  width: 4rem;
  padding: 2rem;
}

button {
  height: 3rem;
  width: 8rem;

  border-radius: 16px;

  background: var(--my-color-2);
}

button a {
  text-decoration: none;
  color: var(--my-color-3);
  font-size: 1.6rem;
  border: none;
}

button:hover {
  background: var(--my-color-1);
  border: 2px solid var(--my-color-2);
}

button:hover a {
  color: #445964;
}

/* Sobre */
Section article.txt2 {
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;

  padding: 10px;

  max-width: 80vw;
 

  margin-top: 4rem;

 
}

.txt2 img {
  grid-row-start: 1;
  grid-row-end: 2;

  width: 80%;
  margin-left: 40px;
  
}

.txt2 cite {
  text-align: center;
  padding: 18px;
  font-weight: 100;
}

.txt2 h2 {
  padding: 1rem;
  font-weight: 800;
  font-size: 2rem;
}

.txt2 p {
  font-weight: 100;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--my-color-2);
  
}

/* Portifólio */
.portifolio h1 {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 2.8rem 0 1rem;
  margin-top: 1.8rem;
}

.pjts {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
  list-style: none;
  margin: 0.8rem;

  display: flex;
  flex-direction: column;
}

.pjts li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16rem;
  padding: 2.6rem;

  background-color: var(--my-color-2);
  border: 2px solid var(--my-color-3);
  border-radius: 10px;

  text-align: center;
}

.pjts li a { 
  color: #acafb0;
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none;
  transition: 0.3s;
}

.pjts li a:hover {
 color: var(--my-color-1);
  text-decoration: underline;
}

.pjts li img {
  width: 20rem;
}

.pjts li p {
  font-size: 0.9em;
  color: var(--my-color-3);
  font-weight: 100;
}

/* Contatos */
.contatos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4.8rem;
  gap: 2.8rem;

  border: none;
  border-radius: 0;

  width: 100vw;

  background-color: var(--my-color-2);
  color: var(--my-color-1);
  margin: 0;
}

.ctts {
  display: flex;
  list-style: none;
  padding: 10px;
  margin-top: -20px;

  border-top: 2px solid #c2bfbf;
  border-radius: 0px;

  gap: 0.8rem;
  
}


.fa {
  transition: all 0.4s;
}

.ctts:has(li .fa:hover) li .fa:not(:hover) {
  scale: 0.9;
  opacity: 0.7;
}

form{
  display: flex;
  flex-direction: column;
  gap: 8px;

  border: 1px solid #c2bfbf;
  border-radius: 20px;
  padding: 18px;
  margin-top: -20px;
}

form > input{
  width: 80%;
  outline: none;
  height: 22px;
  padding: 6px;
}

form textarea{
  outline: none;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

form button{
  background-color: #a7c0cd;
  border: none;
  color: #445964;
  border-radius: 0;
}

.contatos p {
  text-align: center;

  font-size: 1.6rem;
  padding: 0 10px 0 10px;
  margin-top: -20px;
}

.contatos .footer p {
  font-size: 0.9em !important;
  border-top: 1px solid;
  padding-top: 0.4rem;
}

/* Responsividade para Tablets*/
@media only screen and (min-width: 768px) {
  /* Header 768px */
  header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    border-radius: 0;

    height: 4.2rem;
  }

  header h1 {
    margin-top: 0.2rem;
  }

  header nav {
    display: flex;
    justify-content: end;
    background: none;
    
  }

  header nav ul {
    background: var(--my-color-3);
  }

  header nav li a {
    color: #445964;
  }

  header nav li a:hover {
    color: #768e9b;
  }

  /* ÍNICIO */
  .txt {
    margin-top: 0rem;

    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .txt h2 {
    font-weight: 900;
    font-size: 3.8rem;
  }

  .txt p {
    font-size: 30px;
    font-weight: 100;

    

    border-bottom: 1px solid var(--my-color-2);

    padding-bottom: 32px;
  }

  .txt img {
    width: 1.5rem;
  }

  ul.icons {
    display: flex;
    justify-content: start;

    list-style: none;

    padding: 0px;
    gap: 0.1rem;
  }

  .icons li img {
    width: 3rem;
    padding: 0.5rem;
  }

  /* Sobre */
  .txt2 img {
    max-width: 60%;
    margin-left: 140px;
    
  }
  .txt2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Portifólio */
  .portifolio h1 {
    text-transform: uppercase;
    padding-top: 2.9rem;
    margin-top: 1.9rem;
  }

  .pjts li {
    width: 34rem;
    padding: 40px;
  }

  .pjts li img {
    width: 36rem;
  }

  /*Contatos*/
  .contatos {
    border: none;
    border-radius: 0;
    border-top: 2px solid;
    width: 100vw;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "t t"
                          "sm fm"
                          "ft ft";
  }

  .contatos p{
    grid-area: t;
  }

  .ctts{
    grid-area: sm;
  }
  
  
  .fa {
    transition: all 0.4s;
  }

  .ctts:has(li .fa:hover) li .fa:not(:hover) {
    scale: 0.9;
    opacity: 0.7;
  }

  .contatos form{
    grid-area: fm;
    height: 80%;
  }

   .footer  {
    font-size: 0.8em !important ;
    grid-area: ft;
    
  }
}
/*Responsividade para Desktops*/
@media only screen and (min-width: 1200px) {
  /* Cabeçalho */
  header {
    position: fixed;

    display: flex;
    justify-content: space-between;

    box-shadow: 0 3px 20px rgba(128, 128, 128, 0.738);
  }
  header h1 {
    padding-left: 16.4rem;
    font-size: 1.6rem;
  }

  header nav {
    width: 85vw;
    font-size: 1.2rem;
    font-weight: 100;
  }

  /* Ínicio */
  section.inicio {
    display: grid;
    grid-template-columns: auto auto;
  }
  .txt {
    margin-top: 4.6rem;
  }

  .image-initial img {
    width: 30.4rem;
    display: flex;
    align-items: center;
    margin-top: 5.8rem;
    cursor: pointer;

    transition: all 0.3s;
  }

  .image-initial img:hover {
    scale: 1.1;
  }

  /* Sobre */
  Section article.txt2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    text-align: center;

    display: flex;
    flex-direction: column;

    font-size: 0.9em;

    max-width: 180vw;

    

    padding-top: 0;
  }

  .txt2 img {
    margin-top: 2rem;
    
    width: 20%;
    margin-left: -16px;
  }

  .txt2 cite {
    text-align: center;
  }

  .txt2 p {
    font-size: 1.6rem;
    margin-bottom: 0;
    padding: 10px 12.2em 20px 12.2em;
    line-height: 140%;
    text-indent: 10%;
    text-align: justify;

  }

  /* Portifólio */
  .pjts {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2.7rem;
    list-style: none;
    margin: 1.8rem;
  }

  .portifolio h1 {
    margin-top: 3.8rem;

    font-size: 2.8rem;
  }

  .pjts li {
    width: 24rem;
    height: 20rem;

    transition: all 0.3s;
  }

  .pjts li img {
    width: 20rem;
  }

  .pjts:has(li:hover) li:not(:hover) {
    scale: 0.9;
    opacity: 0.7;
  }

  /* Contatos  */
  .contatos {
    border: none;
    border-radius: 0;

    width: 100vw;

    background-color: var(--my-color-2);
    color: var(--my-color-1);
    margin: 0;
  }

  .fa {
    transition: all 0.4s;
  }

  .ctts:has(li .fa:hover) li .fa:not(:hover) {
    scale: 0.9;
    opacity: 0.7;
  }
  .contatos .footer p {
    border-top: 1px solid;
    padding-top: 0.4rem;
    font-size: 0.8em !important ;
  }
}
